<!-- NEW LOCATION FORM -->
<form action="/locations" method="POST">
    <label> Location:
        <input type="text" name="location" value="<%=location.location%>" />
    </label>
    <button type="submit"> create </button>
</form>