<header>
    <nav>
        <a href = "/"> FREEZE </a>
        <ul>
            <li> <a href="/exhibitions">EXHIBITIONS</a></li>
            <li> <a href="/exhibitions/new">CREATE</a></li>
        </ul>
    </nav>
</header>