<header>
    <nav>
        <a href = "/"> FREEZE </a>
        <ul>
            <li> <a href="/exhibitions">REVIEWS</li>
            <li> <a href="/exhibitions/new">POST</a></li>
            <li> <a href="/exhibitions/search">SEARCH</a></li>
        </ul>
    </nav>
</header>