<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Place Form</title>
</head>
<body>
    <header>
       Create New Place
    </header>
    <form action="/places" method="POST">
        <label> Name: 
            <!-- so if we pass an {place : {name: name}} object to render we can use place.name
            but if we pass a {name : name} we use locals.name? why not locals.place.name? -->
            <input type="text" name="name" value="<%=locals.name%>" />
        </label>
        <!-- TO DO ADD LOCATIONS -->
        <label> Location:
            <input type="text" name="location" value="<%=locals.location%>" />
        </label>
        <button type="submit"> create </button>
    </form>
</body>
</html>