<body>
    <br>
    FREEZE is a website for crowd-sourced reviews of art and culture events. <br>
    <br>
    You can post about recent exhibitions you've seen, <br>
    read what other people have said <br>
    and discuss in the comments. <br>
    <br>
    Go to <a href='/exhibitions/new'>POST</a> to post a new review, <br>
    or <a href="/exhibitions">REVEIWS</a> to explore. <br>
    <br>
</body>