<label> Title: 
    <input type="text" name="title" value="<%=exhibition.title%>" />
</label>
<label> Review: 
    <textarea style="width: 100%" name="review" value="<%=exhibition.review%>" ></textarea>
</label>