<form action="/exhibitions" method="GET">
    <label> Title </label>
    <input type="text" name="title" value="<%=searchOptions.title%>">
    <!-- <label> Place </label>
    <input type="text" name="place" value="<%=searchOptions.place%>">
    <label> City </label>
    <input type="text" name="city" value="<%=searchOptions.city%>">
    <label> Date </label>
    <input type="date" name="date" value="<%=searchOptions.date%>"> -->
    <button type="submit"> Search </button>
</form>
<br>
