<body>
    <form action="/exhibitions" method="POST" enctype="multipart/form-data">
        <%- include("../exhibitions/_form.ejs") %>
        <br>
        <button type="submit"> Post Review </button>
    </form>
</body>