<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Exhibition Form</title>
</head>
<body>
    <header>
        <h2> New Exhibition </h2>
    </header>
    <form action="/exhibitions" method="POST">
        <%- include("../exhibitions/_form.ejs") %>
        <br>
        <button type="submit"> create </button>
    </form>
</body>
</html>